Package: com.williammuff.autoanswerpoundxi
Name: AutoAnswerPoundXI
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: A tweak that will automatically:(Answer a contact named VPN | Push the pound key | Hang up).
Maintainer: William Muff
Author: William Muff
Section: Tweaks
Version: 1.0.0
Installed-Size: 88
